---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/8.8?access_key=<access_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - ae2144ad-3080-4485-8908-7e90bf9000a5
      X-Quota-Limit:
      - '1000'
      X-Quota-Remaining:
      - '936'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.029'
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":106,"type":"invalid_ip_address","info":"The
        IP Address supplied is invalid."}}'
  recorded_at: Thu, 19 Oct 2023 12:03:51 GMT
recorded_with: VCR 6.2.0
