---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/8.8?access_key=<access_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 90f72f2e-e131-45f4-ae48-4463ee752114
      X-Quota-Limit:
      - '1000'
      X-Quota-Remaining:
      - '709'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.024'
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":106,"type":"invalid_ip_address","info":"The
        IP Address supplied is invalid."}}'
  recorded_at: Fri, 20 Oct 2023 01:05:42 GMT
recorded_with: VCR 6.2.0
