---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/7.7.7.7?access_key=<access_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 7f6c2a40-a191-461d-bc4b-c0b3565855c5
      X-Quota-Limit:
      - '1000'
      X-Quota-Remaining:
      - '718'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.025'
    body:
      encoding: UTF-8
      string: '{"ip": "7.7.7.7", "type": "ipv4", "continent_code": "NA", "continent_name":
        "North America", "country_code": "US", "country_name": "United States", "region_code":
        "VA", "region_name": "Virginia", "city": "Ashburn", "zip": "20147", "latitude":
        39.043701171875, "longitude": -77.47419738769531, "location": {"geoname_id":
        4744870, "capital": "Washington D.C.", "languages": [{"code": "en", "name":
        "English", "native": "English"}], "country_flag": "https://assets.ipstack.com/flags/us.svg",
        "country_flag_emoji": "\ud83c\uddfa\ud83c\uddf8", "country_flag_emoji_unicode":
        "U+1F1FA U+1F1F8", "calling_code": "1", "is_eu": false}}'
  recorded_at: Fri, 20 Oct 2023 01:05:39 GMT
recorded_with: VCR 6.2.0
