---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/13.32.151.115?access_key=<access_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 54be6f45-25b9-4b41-a513-858b1670cd96
      X-Quota-Limit:
      - '1000'
      X-Quota-Remaining:
      - '708'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.023'
    body:
      encoding: UTF-8
      string: '{"ip": "13.32.151.115", "type": "ipv4", "continent_code": "NA", "continent_name":
        "North America", "country_code": "US", "country_name": "United States", "region_code":
        "DC", "region_name": "Washington", "city": "Shaw", "zip": "20026", "latitude":
        38.906898498535156, "longitude": -77.02839660644531, "location": {"geoname_id":
        4140463, "capital": "Washington D.C.", "languages": [{"code": "en", "name":
        "English", "native": "English"}], "country_flag": "https://assets.ipstack.com/flags/us.svg",
        "country_flag_emoji": "\ud83c\uddfa\ud83c\uddf8", "country_flag_emoji_unicode":
        "U+1F1FA U+1F1F8", "calling_code": "1", "is_eu": false}}'
  recorded_at: Fri, 20 Oct 2023 01:05:42 GMT
recorded_with: VCR 6.2.0
