---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/2001:db8:3333:4444:CCCC:DDDD:EEEE:FFFF?access_key=<access_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - f14faf48-c290-4aaa-a5b0-02157556b5d3
      X-Quota-Limit:
      - '1000'
      X-Quota-Remaining:
      - '712'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.025'
    body:
      encoding: UTF-8
      string: '{"ip": "2001:db8:3333:4444:CCCC:DDDD:EEEE:FFFF", "type": "ipv6", "continent_code":
        null, "continent_name": null, "country_code": null, "country_name": null,
        "region_code": null, "region_name": null, "city": null, "zip": null, "latitude":
        0.0, "longitude": 0.0, "location": {"geoname_id": null, "capital": null, "languages":
        null, "country_flag": null, "country_flag_emoji": null, "country_flag_emoji_unicode":
        null, "calling_code": null, "is_eu": null}}'
  recorded_at: Fri, 20 Oct 2023 01:05:41 GMT
recorded_with: VCR 6.2.0
