---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/www.fgjosldffgruchavlksmfvljssdfsd.pl?access_key=c7e567f083dff7d78b95c34960d2f95a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - ef70952c-0a59-4d30-925a-23f0336e7774
      X-Quota-Limit:
      - '1000'
      X-Quota-Remaining:
      - '956'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.021'
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":106,"type":"invalid_ip_address","info":"The
        IP Address supplied is invalid."}}'
  recorded_at: Thu, 19 Oct 2023 11:53:18 GMT
recorded_with: VCR 6.2.0
