---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/www.fgjosldffgruchavlksmfvljssdfsd.pl?access_key=<access_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 44421bc0-ba7e-45d7-bab6-0e07613733a8
      X-Quota-Limit:
      - '1000'
      X-Quota-Remaining:
      - '711'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.055'
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":106,"type":"invalid_ip_address","info":"The
        IP Address supplied is invalid."}}'
  recorded_at: Fri, 20 Oct 2023 01:05:41 GMT
recorded_with: VCR 6.2.0
