---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/www.fgjosldffgruchavlksmfvljssdfsd.pl?access_key=<access_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - c5a55a10-ded8-48da-87e3-5ee3c5218c6a
      X-Quota-Limit:
      - '1000'
      X-Quota-Remaining:
      - '938'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.041'
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":106,"type":"invalid_ip_address","info":"The
        IP Address supplied is invalid."}}'
  recorded_at: Thu, 19 Oct 2023 12:03:51 GMT
recorded_with: VCR 6.2.0
