---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/8.8.8.8?access_key=<access_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 014b3fc4-9242-448b-8bbc-388d1b673020
      X-Quota-Limit:
      - '1000'
      X-Quota-Remaining:
      - '941'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.030'
    body:
      encoding: UTF-8
      string: '{"ip": "8.8.8.8", "type": "ipv4", "continent_code": "NA", "continent_name":
        "North America", "country_code": "US", "country_name": "United States", "region_code":
        "OH", "region_name": "Ohio", "city": "Glenmont", "zip": "44628", "latitude":
        40.5369987487793, "longitude": -82.12859344482422, "location": {"geoname_id":
        null, "capital": "Washington D.C.", "languages": [{"code": "en", "name": "English",
        "native": "English"}], "country_flag": "https://assets.ipstack.com/flags/us.svg",
        "country_flag_emoji": "\ud83c\uddfa\ud83c\uddf8", "country_flag_emoji_unicode":
        "U+1F1FA U+1F1F8", "calling_code": "1", "is_eu": false}}'
  recorded_at: Thu, 19 Oct 2023 12:03:50 GMT
recorded_with: VCR 6.2.0
