---
http_interactions:
- request:
    method: get
    uri: http://api.ipstack.com/1aasd3.3sd2.1d51.115?access_key=<access_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 02f2fb5f-f519-4952-8183-7b83a33a462e
      X-Quota-Limit:
      - '1000'
      X-Quota-Remaining:
      - '706'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.082'
    body:
      encoding: UTF-8
      string: '{"success":false,"error":{"code":106,"type":"invalid_ip_address","info":"The
        IP Address supplied is invalid."}}'
  recorded_at: Fri, 20 Oct 2023 01:05:43 GMT
recorded_with: VCR 6.2.0
